{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container pt-3 align-content-center">
    {% if game %}
      <div class="row row-cols-1 content_detail">
        {% if game.cover %}
          <img class="col col-12" src="{{ game.cover.url }}" alt="...">
        {% else %}
          <img class="col col-12" src="{% static 'core/no_image.jpg' %}" alt="...">
        {% endif %}
        <h1 class="col col-12 pt-3">{{ game.title }}</h1>
        <h6 class="col col-12">About</h6>
        {% if game.about %}
          <h6 class="col col-12">{{ game.about }}</h6>
        {% else %}
          <h6 class="col col-12">No description aviabled</h6>
        {% endif %}
        <hr>
        <h5 class="col col-12">Tags</h5>
        <h6 class="col col-12">Tags List</h6>
        <div>
          <a class="steam_ico" href="{{ game.steam_link }}">
            <img class="ico-home" src="{% static 'core/ico/steam.ico' %}" alt=""></img>
          </a>
        </div>
        <hr>
        <h5 class="col col-12">Publisher</h5>
        <div>                  
          <div class="row row-cols-1 pt-3">
              <div class="col mb-4">
                <div class="card card_small_preview">
                  <div class="row">
                    <div class="col-4">
                      {% if game.publisher.profile_picture %}
                        <img class="col col-12 " src="{{ game.publisher.profile_picture.url }}" class="card-img" alt="...">
                      {% else %}
                        <img class="col col-12 " src="{% static 'core/no_image.jpg' %}" class="card-img" alt="...">
                      {% endif %}
                    </div>
                    <div class="col-8 col-md-7">
                      <div class="card-body">
                        <h5 class="card-title">{{ game.publisher.name }}</h5>
                        <p class="card-text">
                          <p class="card-text"><small class="text-muted">Games published:  {{ game.publisher.game_set.all.count }}</small>
                          <a href="{% url 'publisher_detail' game.publisher.id %}">About</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
                  
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}