{% extends "base.html" %}
{% load static %}

{% block title %}{{ game.title }}{% endblock %}
{% block postUrl %}{% url 'game_detail' game.id %}{% endblock %}
{% block postTitle %}{{ game.title }}{% endblock %}
{% block postDescription %}{{ game.about }}{% endblock %}
{% block postimage %}{{ game.cover.url }}{% endblock %

{% block content %}

  <div class="row row-cols-1 offset-1 m-0">
    {% if game %}
      <div class="col col-10 content_cover">
        {% if game.cover %}
          <img class="img-fluid" src="{{ game.cover.url }}" alt="Game cover image">
        {% else %}
          <img class="img-fluid" src="{% static 'core/no_image.jpg' %}" alt="No cover iage for game available">
        {% endif %}
      </div>
      <div class="col col-10 offset-1 content_detail"> 
        <h1 class="row row-10">{{ game.title }}</h1>
        <h4 class="row row-10">About</h4>
        <h6 class="row row-10">
          {% if game.about %}
            {{ game.about }}
          {% else %}
            No description aviabled
          {% endif %}
        </h6>
        <hr>
        <h4 class="row row-10">Tags</h4>
        
        <div class="row row-10 offset-1 tags_list">
          {% if game.tags.all %}
            {% for tag in game.tags.all %}
              <h5 class=""><a href="{% url 'tagged_games' tag %}"><span class="col badge badge-dark">{{ tag }}</span></a></h5>
            {% endfor %}
          {% else %}
            <h6 class="col"><small>No tags registered for this game</small></h6>
          {% endif %}
        </div>

        <div class="row row-12 share_links">
          <a class="steam_ico" href="{{ game.steam_link }}" target="_blank">
            <img class="ico-home" src="{% static 'core/ico/steam.ico' %}" alt="Steam page link"></img>
          </a>
          <div class="fb-share-button" data-href="{% url 'game_detail' game.id %}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Sharing this amazing game I found!!!" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <hr>

        <h4 class="row row-10 row-cols-1">Publisher</h4>
        <div class="row row-cols-2 small_preview">
          <div class="col col-4 col-md-5">
            {% if game.publisher.profile_picture %}
              <img class="img-fluid" src="{{ game.publisher.profile_picture.url }}" alt="Publisher profile picture">
            {% else %}
              <img class="img-fluid" src="{% static 'core/no_image.jpg' %}" alt="No image avilable for pubisher profile picture">
            {% endif %}
          </div>
          <div class="col left_border">
            <h3>{{ game.publisher.name }}</h3>
            <a href="{% url 'publisher_detail' game.publisher.id %}">About</a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}