{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row section_title">
      <h1>Games list</h1>
  </div>
  <div class="row row-sm-cols-1 row-cols-md-2 content_wrapper">
    {% for game in games %}
      <div class="col-sm-6">
        <div class="row game_preview">
          <div class="col col-4">
            {% if game.preview_picture %}
              <img class="img-fluid" src="{{ game.preview_picture.url }}" alt="Game image preview">
            {% else %}
              <img class="img-fluid" src="{% static 'core/no_image.jpg' %}" alt="No game image preview available">
            {% endif %}
          </div>
          <div class="col col-8 left_border">
            <h4>{{ game.title }}</h4>
            <h6>Release date: {{ game.release_date }}</h6>
            <h6>Publisher: {{ game.publisher.name }}</h6>
            <br>
            <a href="{% url 'game_detail' game.id %}">About</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center pt-2 pb-5">
    {% if is_paginated %}
      <div class="pagination_list">
        {% if page_obj.has_previous %}
            <a class="" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% else %}
            <a class="disabled" href="#" tabindex="-1">&laquo;</a>
        {% endif %}
        {% for i in paginator.page_range %}
            <a class="{% if page_obj.number == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% else %}
            <a class="disabled" href="#" tabindex="-1">&raquo;</a>
            </li>
        {% endif %}
      </nav>
    {% endif %}
  </div>
{% endblock %}
