
.card_preview div {
    max-height: 200px;
    max-width: 400px;
}

.card_preview img {
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}

.card__meta {
    margin: 0;
    color: #999;
    background-color: #292929;
}

.card__meta a {
    color: gold;
}

.card_small_preview {
    max-height: 100px;
    max-width: 350px;
}

.card_small_preview img {
    /* min-width: 150px; */
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}

.publisher_detail {
    min-height: 150px;
    max-height: 250px;
    /* min-width: 150px; */
    /* max-width: 100%; */
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}

.publisher_detail h1 {
    text-align: center;
}

.steam_ico img {
    max-height: 60px;
    max-width: 60px;
}