{% extends "base.html" %} %}
{% load static %}

<!--CONTENT-->
{% block content %}
  <div class="container">
    <div class="row pt-2 index_content">
      <div class="col-12">
        <p class="pb-5"><h1>Hello, ¡Welcome to the IndieGamesSite!</h1></p>
      </div>
      <div class="pt-2 col-12 index_content">
        <p><h5>This small site was made for practice porpuses, all the information posted on the site is true so you can check it if you wish, maybe you will find a new game for you.</h5></p>
        <p><h5>If you are interesting on: </h5></p>  
        <ul>
          <li>Check the source code from this site visit the link to the GitHub repo in the footer below.</li>
          <li>Contact the developer visit the Contact section on the top menu.</li>
          <li>Hacking this site, please dont :( I am current unemploy and I am using this site as part of my porfolio</li>
        </ul>
        
        <p><h5>Octavio <small>(Developer)</small></h5></p>
      </div>
    </div>
  </div>
{% endblock %}





