{% extends "base.html" %}
{% load static %}
{% block title %}Publishers{% endblock %}
{% block content %}
  <div class="row-10 section_title">
    <h1>Publishers list</h1>
  </div>
  <div class="content_wrapper">
    {% for publisher in publishers %}
      <div class="row row-12 row-cols-2 publisher_preview">
        <div class="col col-3">
          {% if publisher.profile_picture %}
          <a href="{% url 'publisher_detail' publisher.id %}"><img class="img-fluid" src="{{ publisher.profile_picture.url }}" class="card-img" alt="Publisher preview image"></a>
          {% else %}
          <a href="{% url 'publisher_detail' publisher.id %}"><img class="img-fluid" src="{% static 'core/no_image.jpg' %}" class="card-img" alt="No publisher preview image available"></a>
          {% endif %}
        </div>
        <div class="col col-7 left_border">
          <h2>{{ publisher.name }}</h2>
          <h5>Games published:  {{ publisher.game_set.all.count }}</h5>
          <br>
          <a href="{% url 'publisher_detail' publisher.id %}">About</a>
        </div>
      </div>
    {% endfor %}

    <div class="row justify-content-center pt-2 pb-5">
      {% if is_paginated %}
        <div class="pagination_list">
          {% if page_obj.has_previous %}
            <a class="" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          {% else %}
            <a class="disabled" href="#" tabindex="-1">&laquo;</a>
          {% endif %}
          {% for i in paginator.page_range %}
            <a class="{% if page_obj.number == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
          {% endfor %}
          {% if page_obj.has_next %}
            <a class="" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% else %}
            <a class="disabled" href="#" tabindex="-1">&raquo;</a>
            </li>
          {% endif %}
        </nav>
      {% endif %}
    </div>
  </div>
{% endblock %}
