{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row row-cols-1">
    {% if publisher %}
      <div class="col col-12 content_cover">
        {% if publisher.cover %}
          <img class="col col-12" src="{{ publisher.cover.url }}" alt="...">
        {% else %}
          <img class="col col-12" src="{% static 'core/no_image.jpg' %}" alt="">
        {% endif %}
      </div>
      <div class="col col-10 offset-1 content_detail">
        <h1 class="row row-10">{{ publisher.name }}</h1>
        <h6 class="row row-10">About this publisher</h6>
        <h6 class="row row-10"></h6>
          {% if publisher.about %}
            {{ publisher.about }}
          {% else %}
            No description aviabled
          {% endif %}
        </h6>
        <br>
        <a class="row row-10" href="{{ publisher.site_link }}">Official site</a>
        <hr>
        <h4 class="row row-10">Games from this publisher</h4>          
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for game in publisher.game_set.all %}
            <div class="col">
              <div class="row row-cols-2 small_preview">
                <div class="col col-4 col-md-5 b-0 m-0">
                  {% if game.preview_picture %}
                    <img class="img-fluid" src="{{ game.preview_picture.url }}" alt="...">
                  {% else %}
                    <img class="img-fluid" src="{% static 'core/no_image.jpg' %}" alt="...">
                  {% endif %}
                </div>
                <div class="col col-8 col-md-7 left_border">
                  <h4>{{ game.title }}</h4>
                  <a href="{% url 'game_detail' game.id %}">About</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>       
      </div>
    {% endif %}
  </div>
{% endblock %}
