
.card_preview div {
    max-height: 200px;
    max-width: 400px;
}

.card_preview img {
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}

.card__meta {
    margin: 0;
    color: #999;
    background-color: #292929;
}

.card__meta a {
    color: gold;
}

.card_small_preview {
    height: 100px;
    width: 350px;
    overflow: hidden;
    padding: 0;
}

.card_small_preview img {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    align-self: left;
    align-content: left;
    padding-left: 0;
    margin: 0;
}

.content_detail div {
    max-height: 200px;
    max-width: 100%;
    /* object-fit: cover; */
}

.content_detail img {
    max-height: 200px;
    object-fit: cover;
    /* width: fit-content; */
    height: fit-content;
    /* border: 10px solid gold; */
}

.content_detail h1 {
    text-align: center;
}

.steam_ico img {
    max-height: 64px;
    max-width: 64px;
}

.index_content h1 {
    text-align: center;
    font-size: 40px;
    color: #333333;
    font-weight: 400;
    font-family: Tahoma, Geneva, sans-serif;
}

.index_content h5 {
    text-align: left;
    font-size: 20px;
    color: #333333;
    font-weight: 300;
    font-family: Tahoma, Geneva, sans-serif;
}

.main_color h3 {
    color: gold;
}

.section_title h1 {
    text-align: center;
}

.pagination_style {
    display: inline-block;
  }

.pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

.pagination_list a.active {
    background-color: gray;
    color: gold;
  }

.pagination_list a:hover:not(.active) {background-color: #ddd;}

.footer_style {
    background-color: #292929;
    color: gold;
}

.footer_icons img {
    height: 48px;
    width: 48px;
}
}