
@font-face {
    font-family: 'Aton';
    src: url('../fonts/Anton/Anton-Regular.ttf') format("truetype");

}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format("truetype");

}

body {
    font-family: 'Roboto Slab';
    background-color: #eee;
}

.index_content {
    margin: 10%;
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.index_content h1 {
    font-family: 'Aton';
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 30px auto 30px auto;
}

.index_content li {
    font-weight: 700;
}

.index_content h5 {
    text-align: right;
    margin: auto;
}

.card_preview div {
    height: 200px;
    width: 400px;
}

.card_preview img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
    background-position: center center;
    background-repeat: no-repeat;
}

.card__meta {
    margin: 0;
    color: #999;
    background-color: #292929;
}

.card__meta a {
    color: gold;
}

.card_small_preview {
    height: 100px;
    width: 350px;
    overflow: hidden;
    padding: 0;
}

.card_small_preview img {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    align-self: left;
    align-content: left;
    padding-left: 0;
    margin: 0;
}

.main_color h3 {
    color: gold;
}

.pagination_style {
    display: inline-block;
}

.pagination_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

.pagination_list a.active {
    background-color: gray;
    color: gold;
}

.pagination_list a:hover:not(.active) {background-color: #ddd;}

.footer_style {
    background-color: #292929;
    color: gold;
}

.footer_icons img {
    height: 48px;
    width: 48px;
}

.footer_icons a {
    padding-left: 10px;
}

.contact_form form {
    background-color: #292b2c;
    padding: 50px;
    color: #f7f7f7;
}

.btn-contact {
    background-color: #7D6608;
    color: #f7f7f7;
}

input[type="submit"].btn-contact:hover {
    background-color: #F1C40F;
    color: #292b2c;
}

.content_detail div {
    max-height: 200px;
    max-width: 100%;
    /* object-fit: cover; */
}

.content_detail img {
    max-height: 200px;
    object-fit: cover;
    /* width: fit-content; */
    height: fit-content;
    padding-bottom: 30px;
}

.content_detail h4 {
    padding-bottom: 20px;
}

.content_detail h1 {
    padding-bottom: 40px;
    text-align: center
}

.steam_ico img {
    max-height: 64px;
    max-width: 64px;
}


